body {
  background: plum;
}


/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width:768px) {
	body {
    background: rgb(150, 240, 252);
  }
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) {
  body {
    background: rgb(250, 203, 219);
  }
}
